.cajitaperomaschica
{
background-color:orange;
margin:5px;
}

.cajita
{
    flex-basis:20px;
    flex-grow:1;
    display:flex;
    flex-wrap:wrap;
}
img
{
    max-width:100%;
    height:auto;
    display:block;
}

.titulazo
{
    background-color: red;
}

.sub
{
    color: white;
background-color: black;

}

body
{
    background-color:yellow;
}

.botoncitochiquito
{
    background-color: green;
}